<div mat-dialog-content xmlns="http://www.w3.org/1999/html">
  <h2> <span style="color: #c9302c">{{data.name}}</span> için kayıtlı olduğu lokasyonlar</h2>
  <alert></alert>
  <div *ngIf="showUserLocation" style="alignment: right" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Lokasyon Listesi</h4>
            <p class="category">Sistemde kayıtlı kullanıcıya ait tüm Lokasyonları burada görebilirsiniz.</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>İsim</th>
                  <th>Detay</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let singledata of locationList | paginate: { itemsPerPage: 5, currentPage: p }">
                  <td>{{singledata.sonuc[0].name}}</td>
                  <td>{{singledata.sonuc[0].detail}}</td>
                  <td>{{singledata.sonuc[0]._id}}</td>
                  <td><button (click)="deleteUserLocation(singledata._id, singledata.sonuc[0]._id)"
                              class="btn btn-danger">Lokasyonu Kaldır</button></td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button style="background-color: #9dff0f" mat-button (click)="onNoClick()">Kapat</button>
</div>
